html,
body {
  overflow-y: hidden;
}
:root {
  --aside-width: 400px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 355px;
  --header-height: 64px;
  --color-dark: #000;
  --color-light: #fff;
}

img {
  border-radius: 4px;
}

@font-face {
  font-family: 'nolita-font';
  src: url('NeueHaasDisplay-Black.ttf') format('truetype');
}

/*
* --------------------------------------------------
* components/Aside
* --------------------------------------------------
*/
aside {
  background: var(--color-light);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  height: 100vh;
  max-width: var(--aside-width);
  min-width: var(--aside-width);
  position: fixed;
  right: calc(-1 * var(--aside-width));
  top: 0;
  transition: transform 200ms ease-in-out;
}

aside header {
  align-items: center;
  border-bottom: 1px solid var(--color-dark);
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 20px;
}

aside header h3 {
  margin: 0;
}

aside header .close {
  font-weight: bold;
  opacity: 0.8;
  text-decoration: none;
  transition: all 200ms;
  width: 20px;
}

aside header .close:hover {
  opacity: 1;
}

aside header h2 {
  margin-bottom: 0.6rem;
  margin-top: 0;
}

aside main {
  margin: 1rem;
}

aside p {
  margin: 0 0 0.25rem;
}

aside p:last-child {
  margin: 0;
}

aside li {
  margin-bottom: 0.125rem;
}

li {
  margin-bottom: 0;
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 400ms ease-in-out;
  transition: opacity 400ms;
  visibility: hidden;
  z-index: 10;
}

.overlay .close-outside {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - var(--aside-width));
}

.overlay .light {
  background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
  cursor: default;
  height: 100%;
  position: absolute;
  width: 100%;
}

.overlay:target {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
/* reveal aside */
.overlay:target aside {
  transform: translateX(calc(var(--aside-width) * -1));
}

/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------
*/
.header {
  align-items: center;
  display: flex;
  height: var(--header-height);
  padding: 2rem;
  padding-top: 1rem !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  justify-content: space-between;
  /* width: 96vw; */
  font-size: 0.6875rem;
}
.logo {
  width: 8%;
  min-width: 170px;
}
.header-menu-mobile-toggle {
  @media (min-width: 48em) {
    display: none;
  }
}

.header-menu-mobile {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
}

.header-menu-desktop {
  display: none;
  grid-gap: 1rem;
  @media (min-width: 45em) {
    display: flex;
    grid-gap: 1rem;
    margin-left: 3rem;
  }
}

.header-menu-item {
  cursor: pointer;
}
.header-ctas-container {
  position: relative;
  /* width: 18%; */
  padding: 0.9rem;
  background: white;
  cursor: default;
}
.header-ctas {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 2rem;
}
.bag-header-link:hover {
  text-decoration: none;
}
.header-section-hold {
  background-color: white;
  /* padding: 1rem; */
  font-size: 0.6875rem;
}
.dropdown-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 80vh;
  overflow: auto;
}
.dropdown-container::-webkit-scrollbar {
  display: none;
}
.dropdown-content-container {
  /* margin-top: 0.5rem; */
  background-color: white;
  /* border: 1px solid #ddd; */
  z-index: 1;
  /* padding: 0.75rem;
  padding-top: 0.2rem; */
  /* overflow: hidden; */
}
.dropdown-content > li {
  list-style: none;
}
.dropdown-content {
  font-size: 0.6875rem;
  margin-top: 0.5rem;
  background-color: white;
  border: 1px solid #ddd;
  z-index: 1;
  padding: 0.75rem;
  padding-top: 0rem;
  padding-bottom: 1rem;
}

.dropdown-content > li {
  margin-top: 2%;
  margin-bottom: 2%;
}
.dropdown-content > li::before,
.info-subsection-head > li::before,
.info-main > li::before {
  content: '\25a0';
  font-size: 2em;
  display: inline-block;
  width: 0.75em;
  margin-right: 0;
  vertical-align: sub;
}

.info-subsection-head > li {
  margin-bottom: 2%;
}
.info-main {
  /* height: 70vh; */
  max-height: 62.7vh;
  overflow: auto;
  width: auto;
  font-family: 'nolita-font';
  font-size: 0.6875rem;
}
.info-main > li {
  margin-top: 0.5rem;
}
.info-main > p {
  font-family: 'nolita-font';
  font-size: 0.6875rem;
}
.dropdown-content > p {
  font-size: 0.6875rem;
}
.dropdown-info > p {
  font-size: 0.6875rem;
  cursor: pointer;
}
.site-credit {
  margin-top: 1rem;
}
.header-section-hold:hover .dropdown-content,
.header-ctas:hover .dropdown-content {
  display: block;
}
.info-subsection-head {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  margin-bottom: 2%;
}
.info-subsection-head > li::marker,
.info-main > li::marker {
  font-size: 0;
}
.info-sub-button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 0;
  font: inherit;
  text-decoration: none;
  margin-bottom: 0.35rem;
  font-size: 0.6875rem !important;
}
.newsletter-input-container {
  width: 100% !important;
  border-bottom: 2px solid black !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: flex-end !important;
  margin-top: 2% !important;
  margin-bottom: 2% !important;
  margin-left: 0 !important;
  background: transparent !important;
}

.newsletter-input-container > input {
  width: 70%;
  border: none;
  outline: none;
  font-family: 'nolita-font';
  margin: 0;
  padding: 0;
  font-size: 0.6875rem;
}

.newsletter-input-container > button {
  white-space: nowrap;
  cursor: pointer;
  background: none;
  color: black;
  border: none;
  padding: 0;
  width: fit-content;
  font-family: 'nolita-font';
  font-size: 0.6875rem;
}

/*
* --------------------------------------------------
* components/Footer
* --------------------------------------------------
*/
.footer {
  background: var(--color-dark);
  margin-top: auto;
}

.footer-menu-missing {
  display: inline-block;
  margin: 1rem;
}

.footer-menu {
  align-items: center;
  display: flex;
  grid-gap: 1rem;
  padding: 1rem;
}

.footer-menu a {
  color: var(--color-light);
}

/*
* --------------------------------------------------
* components/Cart
* --------------------------------------------------
*/
.cart-main {
  height: 70vh;
  max-height: 70vh;
  overflow: auto;
  width: auto;
  font-family: 'nolita-font';
}
.cart-main::-webkit-scrollbar,
.info-main::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
.cart-main.with-discount {
  max-height: 70vh;
}
.dropdown-container-mobile .cart-main {
  max-height: 77.8vh;
  height: auto;
}

.cart-line {
  display: flex;
  padding: 0.75rem 0;
  flex-direction: column;
  font-family: 'nolita-font';
  font-size: 0.6875rem !important;
}

.cart-line img {
  height: 100%;
  display: block;
  margin: auto;
  width: 100%;
}

.cart-summary-page {
  position: relative;
}
.cart-title-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3%;
  margin-bottom: 3%;
}
.cart-title-price > p {
  font-family: 'nolita-font';
  font-size: 0.6875rem;
}
.cart-size-quant {
  display: flex;
  flex-direction: column;
}
.cart-size-quant > li {
  margin-bottom: 0% !important;
  font-family: 'nolita-font';
  font-size: 0.6875rem;
}
.cart-button-quant {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  color: black;
  cursor: pointer;
}
.cart-remove-button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  color: black;
  cursor: pointer;
  text-decoration: underline;
  /* margin-left: -8%; */
  font-family: 'nolita-font';
  font-size: 0.6875rem;
}

.cart-summary-aside {
  background: white;
  border-top: 1px solid var(--color-dark);
  bottom: 0;
  padding-top: 0.75rem;
  position: absolute;
  width: 92%;
}
.cart-summary-aside-mobile {
  background: white;
  border-top: 1px solid var(--color-dark);
  bottom: 0;
  padding-top: 0.75rem;
  position: absolute;
  right: 0.75rem;
  left: 0.75rem;
}

.cart-line-quantiy {
  display: flex;
}
.cart-line-quantiy form {
  margin-inline: 0.25rem;
}

.cart-discount {
  align-items: center;
  display: flex;
  margin-top: 0.25rem;
}

.cart-subtotal {
  align-items: center;
  display: flex;
}
.checkout-text {
  font-family: 'nolita-font';
  font-size: 0.6875rem;
  width: 50%;
}

.checkout-button {
  color: white;
  margin-top: 3%;
  width: 100%;
  height: 4.5rem;
  background: black;
  text-align: left;
  cursor: pointer;
  border: none;
  display: flex;
  padding-top: 2%;
  padding-left: 2%;
}
/*
* --------------------------------------------------
* components/Search
* --------------------------------------------------
*/
.predictive-search {
  height: calc(100vh - var(--header-height) - 40px);
  overflow-y: auto;
}

.predictive-search-form {
  background: var(--color-light);
  position: sticky;
  top: 0;
}

.predictive-search-result {
  margin-bottom: 2rem;
}

.predictive-search-result h5 {
  text-transform: uppercase;
}

.predictive-search-result-item {
  margin-bottom: 0.5rem;
}

.predictive-search-result-item a {
  align-items: center;
  display: flex;
}

.predictive-search-result-item a img {
  margin-right: 0.75rem;
  height: 100%;
}

.search-result {
  margin-bottom: 1.5rem;
}

.search-results-item {
  margin-bottom: 0.5rem;
}

/*
* --------------------------------------------------
* routes/__index
* --------------------------------------------------
*/
.featured-collection {
  display: block;
  margin-bottom: 2rem;
  position: relative;
}

.featured-collection-image {
  aspect-ratio: 1 / 1;
  @media (min-width: 45em) {
    aspect-ratio: 16 / 9;
  }
}

.featured-collection img {
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

.recommended-products {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  display: flex;
  align-content: flex-end;
  overflow: auto;
}

.recommended-products-container {
  display: flex;
  /* gap: 1.5rem; */
  overflow: scroll;
  width: fit-content;
}
.recommended-products-container-mobile {
  flex-direction: column;
  scroll-snap-type: y mandatory;
  height: -webkit-fill-available;
  overflow: scroll;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.product-container {
  position: relative;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  width: 700px;
}
.product-container-mobile {
  position: relative;
  display: flex;
  height: -webkit-fill-available;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20%;
  scroll-snap-align: end;
  overflow: hidden;
}
.product-image-container-mobile {
  height: 80vh;
  width: 95vw;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  overflow: scroll;
  scroll-snap-type: x mandatory;
}
.mobile-image-container {
  width: 95vw;
  height: 100%;
  flex-shrink: 0;
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
}
.mobile-image-container > img {
  max-width: 90vw;
}
.product-container-mobile:first-of-type {
  margin-top: 0;
}
.left-image-button-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  z-index: 2;
}
.right-image-button-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  user-select: none;
  z-index: 2;
}
.right-arrow-product {
  margin-right: 10%;
  cursor: pointer;
  width: 3%;
}
.left-arrow-product {
  margin-left: 10%;
  cursor: pointer;
  width: 3%;
}

.product-image-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 90vh;
  position: relative;
}

.product-image-container > img {
  width: 90%;
  position: absolute;
  top: 0;
}
.mobile-image-container > img {
  /* width: 50% !important; */
  height: 95%;
}

/*
* --------------------------------------------------
* routes/collections._index.tsx
* --------------------------------------------------
*/
.collections-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.collection-item img {
  height: auto;
}

.product-interaction-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 90%;
  position: absolute;
  bottom: 2.5%;
  font-size: 0.6875rem !important;
  z-index: 3;
}
.product-interaction-container-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 95%;
  position: absolute;
  bottom: 5%;
  font-size: 0.6875rem !important;
  gap: 0.5rem;
}
.product-interaction-container > p {
  font-size: 0.6875rem !important;
}
.product-details {
  width: 49.5%;
  background-color: white;
  min-height: 75px;
  overflow: hidden;
}
.product-details-mobile {
  width: 100%;
  background-color: white;
  overflow: hidden;
  font-size: 0.6875rem;
}
.product-details ul,
.product-details-mobile ul {
  margin-bottom: 1.1rem;
}
.product-details li,
.product-details-mobile li {
  margin-bottom: 0;
}
.product-details-container {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  position: relative;
}
.product-details-container-mobile {
  margin: 1.5%;
}
.product-details-container > div > div > p {
  margin: 0;
}
.product-details-container ul,
.product-details-container-mobile ul {
  list-style: inside;
}
.font-size-details {
  font-size: 0.6875rem;
  padding-top: 3%;
  cursor: pointer;
}
.font-size-details-mobile {
  font-size: 0.6875rem;
}
.product-cart-container {
  display: flex;
  width: 49.5%;
}
.product-cart-container-mobile {
  display: flex;
  width: 100%;
}
.product-cart-sizing {
  width: 70%;
  background-color: white;
  height: 75px;
}
.product-cart-sizing-mobile {
  width: 50%;
  background-color: white;
}
.product-cart-sizing,
.product-cart-sizing-mobile > p,
button {
  font-size: 0.6875rem !important;
}
.product-cart-sizing-mobile > p,
.product-cart-container-mobile button {
  font-size: 0.6785rem;
  font-weight: normal;
}
.disabled-add-to-cart {
  background-color: transparent;
  color: grey;
  border: none;
  font-family: 'nolita-font';
  font-size: 0.6875rem;
  display: flex;
  text-align: left;
  cursor: pointer;
  margin-top: 0.4rem;
}
.add-to-cart {
  background-color: transparent;
  color: white;
  border: none;
  font-family: 'nolita-font';
  font-size: 0.6875rem;
  display: flex;
  text-align: left;
  cursor: pointer;
  margin-top: 0.4rem;
  width: 100%;
}
.product-cart-container > form,
.product-cart-container-mobile > form {
  background-color: black;
  color: #fff !important;
  font-family: nolita-font !important;
  font-size: 0.6875rem !important;
  border: 1px solid white;
  display: flex !important;
  text-align: left !important;
  margin-left: 2% !important;
  cursor: pointer !important;
  width: 29.25% !important;
  transition: background-color 1s ease;
  position: relative;
}
.product-cart-container-mobile > form {
  width: 50% !important;
}
.product-cart-container-mobile .add-to-cart,
.product-cart-container-mobile .disabled-add-to-cart {
  margin-top: 3%;
}

.product-cart-soldout {
  width: 49.5%;
  background-color: rgb(184, 184, 184);
  color: white;
  height: 75px;
}
.product-cart-soldout > p {
  font-size: 0.6875rem;
  padding-top: 4%;
  padding-left: 4%;
}
.product-cart-sizing-container {
  margin: 0.5rem;
}
.product-size-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  margin-top: 0.5rem;
}
.font-size {
  font-size: 0.6875rem !important;
  margin-bottom: 2%;
}
.product-size-button {
  background-color: white;
  color: black;
  border: 1px solid black;
  height: 34px;
  width: 34px;
  text-align: center;
  font-family: 'nolita-font';
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.product-cart-sizing-mobile .product-size-button {
  height: 28px;
  width: 28px;
}
.size-button-selected {
  background-color: black;
  color: white;
}
.size-button-soldout {
  border-color: #dadada;
  color: #dadada;
}
/*
* --------------------------------------------------
* routes/collections.$handle.tsx
* --------------------------------------------------
*/
.collection-description {
  margin-bottom: 1rem;
  max-width: 95%;
  @media (min-width: 45em) {
    max-width: 600px;
  }
}

.products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.product-item img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/products.$handle.tsx
* --------------------------------------------------
*/
.product {
  display: grid;
  @media (min-width: 45em) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }
}

.product h1 {
  margin-top: 0;
}

.product-images {
  display: grid;
  grid-gap: 1rem;
}

.product-image img {
  height: auto;
  width: 100%;
}

.product-main {
  align-self: start;
  position: sticky;
  top: 6rem;
}

.product-price-on-sale {
  display: flex;
  grid-gap: 0.5rem;
}

.product-price-on-sale s {
  opacity: 0.5;
}

.product-options-grid {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.75rem;
}

.product-options-item {
  padding: 0.25rem 0.5rem;
}

/*
* --------------------------------------------------
* routes/blog._index.tsx
* --------------------------------------------------
*/
.blog-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.blog-article-image {
  aspect-ratio: 3/2;
  display: block;
}

.blog-article-image img {
  height: 100%;
}

/*
* --------------------------------------------------
* routes/blog.$articlehandle.tsx
* --------------------------------------------------
*/
.article img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/account
* --------------------------------------------------
*/
.account-profile-marketing {
  display: flex;
  align-items: center;
}

.account-logout {
  display: inline-block;
}

/* MOBILE */
.header-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding-top: 4%;
  padding-bottom: 4%;
  position: fixed;
  top: 3%;
  width: 95%;
  z-index: 999;
  left: 2.5%;
}

.header-mobile .brand-mobile {
  width: 30%;
}

.header-mobile .menu-mobile,
.header-mobile .cart-mobile {
  width: 5%;
  cursor: pointer;
  border-radius: 0%;
}
.cart-mobile {
  margin-right: 4%;
  position: relative;
}
.cart-mobile > img {
  width: 100%;
  border-radius: 0%;
}
.cart-mobile .bag-header-link {
  position: absolute;
  height: fit-content;
  width: fit-content;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu-mobile {
  margin-left: 4%;
}

.dropdown-mobile {
  display: none;
  position: absolute;
  top: calc(100% + 5px); /* Adjust the margin between dropdown and header */
  left: 0;
  width: 100%; /* Set the width to match the menu and cart icons */
  background-color: white; /* Set the background color to white */
}

.dropdown-mobile.active {
  display: block;
}

.category,
.category-last {
  width: 100%;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  cursor: pointer;
  border-bottom: 1px solid black;
  padding-top: 3%;
  padding-bottom: 2.5%;
  text-align: left;
}
.category > p,
.category-last > p {
  margin-left: 2%;
  font-family: 'nolita-font';
  font-size: 0.6875rem;
  line-height: normal;
}
.category-last {
  border-bottom: none;
}

.dropdown-container-mobile {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 83vh;
  overflow: auto;
}
.dropdown-container-mobile::-webkit-scrollbar {
  display: none;
}
.dropdown-container-mobile .dropdown-content {
  border: none;
}

.dropdown-content-newsletter {
  font-size: 0.6875rem;
  margin-top: 0.5rem;
  background-color: white;
  /* border: 1px solid #ddd; */
  z-index: 1;
  padding: 0.75rem;
  padding-top: 0.2rem;
  max-height: 8vh;
}

.dropdown-content-newsletter > li {
  margin-top: 2%;
  margin-bottom: 2%;
}
.dropdown-content-newsletter > li::before {
  content: '\25a0';
  font-size: 0.75em;
  display: inline-block;
  width: 1.5em;
  vertical-align: middle;
}

.dropdown-content-newsletter .info-subsection-head-mobile {
  margin-top: 0;
}
.info-subsection-head-mobile {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 0.6875rem;
  padding-top: 1rem;
}
.info-subsection-head-mobile > li::marker,
.info-main-mobile > li::marker {
  font-size: 0;
}
.info-subsection-head-mobile > li::before,
.info-main-mobile > li::before {
  content: '\25a0';
  font-size: 0.75em;
  display: inline-block;
  width: 1.5em;
  vertical-align: middle;
}

.info-main-mobile {
  /* height: 82vh; */
  max-height: 70vh;
  overflow: auto;
  width: auto;
  font-family: 'nolita-font';
  font-size: 0.6875rem;
}
.info-main-mobile > p {
  font-family: 'nolita-font';
  font-size: 0.6875rem;
}
.info-main-mobile > li {
  margin-top: 2%;
  font-size: 0.6875rem;
}
.mobile-newsletter-submit {
  font-size: 0.6875rem !important;
  font-family: 'nolita-font';
  font-weight: normal !important;
}
.info-main-mobile::-webkit-scrollbar,
.recommended-products-container-mobile::-webkit-scrollbar,
.product-container-mobile::-webkit-scrollbar,
.home::-webkit-scrollbar,
main::-webkit-scrollbar,
body::-webkit-scrollbar,
.dimmer::-webkit-scrollbar {
  display: none;
}
